body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.perfil-form {
  max-width: 600px;
  background: white;
  border-radius: 20px;
  padding: 3rem 2.5rem;
  margin-bottom: 50px;
}
.btn-primary {
    background-color: #7FCECF;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #ADE5E5;
    --bs-btn-active-border-color: #ADE5E5;
}

.btn-primary:hover {
    background-color: #ADE5E5;
}