body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-image: url('../../resources/fondo.png');
}

.navbar {
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    padding-right: 5px;
}

.navbar-brand img {
    margin-right: 10px;
}

.container-fluid .navbar-brand {
    font-weight: bold;
}

.nav-item {
    padding-right: 20px;
    font-size: 17px;
}

#icon-menu {
    padding-top: 5px;
}

#buscarCursos{
    font-size: 50px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: 15px;
}

.card-title {
    font-weight: 600;
    font-size: xx-large;
}
.card img {
    width: 256px;
    height: 227px;
}


.search-section {
    padding: 60px 0;
}

.search-input {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.search-results {
    margin-top: 40px;
}

.card {
    margin-bottom: 20px;
}